
.content-wrapper{
  position: relative;
  overflow: hidden;
}
.container-fluid{
  text-align:center;
}
.list-modules-bg {
    background-image: url("../images/bg-abstract.png"); 
    height: 100%; 
    width: 100%;
    background-repeat: no-repeat; 
    background-size: cover;
    opacity: 0.4;
    filter: alpha(opacity=40); 
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.list-table{
  padding-bottom: 50px;
}
.list-row{
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}
.list-column {
  float: left;
  padding-top:95px;
}

.list-items {
  width: 20%;
}

.list-title {
  width: 40%;
  padding-left: 50px;
}
.list-element{
  margin-left: auto;
  margin-right: auto;
}

/* Clear floats after the columns */
.list-row:after {
  content: "";
  display: table;
  clear: both;
}
.expert.list-table{
  padding-bottom: 40px;
}
.expert.list-column {
  float: left;
  padding-top:30px;
}
.about-section{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  color:#707070;
}

.about-section p{
  font-size: 16px;
}

.expert-heading{
  text-align:center;
  background-color: rgba(165,209,72,0.2);
  padding-top: 25px;
  padding-bottom: 25px;
}
.expert-heading h3{
  font-weight: 600;
  font-size: 20px;
  color:rgba(0,66,0,1);
  margin-bottom:0;
}

.title-text h2{
margin-bottom:0;
z-index: 8;
font-weight: 600;
line-height: 50pt;
font-size: 42px;
color:rgba(0,66,0,1);
}
.title-text h5{
  margin-bottom:0;
  z-index: 8;
  font-weight: 600;
  font-size: 24px;
  color: rgba(0,66,0,0.6);
  }

.list-element{
  border-radius: 60px;
  background: rgba(165,209,72,0.2);
  padding: 20px; 
  width: 230px;
  height: 230px; 
  z-index: 10;
  transition: transform .2s;
}
.list-element:hover{
  background: rgba(165,209,72,0.6);
  transform: scale(1.1);
}

.expert-list{
  text-align: center;
}
.expert-list p{
  text-align: center;
  padding-top: 10px;
}

.expert-list p .name{
  color:rgba(0,66,0,0.6);
  font-size: 18px;
  font-weight: 400;
}

.expert-list p .title{
  color:rgba(165,209,72,1);
  font-size: 14px;
  font-weight: 400;
}

.mod-1{
  text-align: center;
  padding-top:50px;
}
.mod-2{
  text-align: center;
  padding-top:50px;
}

.mod-3{
  text-align: center;
  padding-top:40px;
}

.list-element p{
  padding-top: 20px;
  font-weight: 600;
  font-size: 14px;
  color: rgba(0,66,0,0.6);
  text-align: center;
}

.list-element.mod-2 p{
  padding-top: 30px;
}
.list-element.mod-3 p{
  font-size: 13px;
}
#list-image{
  height: 80px;
}
#expert-image{
  height: 150px;
  border: 3px solid rgba(165,209,72,1);
  border-radius: 100px;
}
.wrapper-hero{
  overflow: hidden;
}

#beta-notice{
  background-color: #e6e6e6;
  color: #3d3d3d;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
  font-size: 0.75rem;
}

#beta-notice a{
  color: #609E09;
}

#beta-notice ul{
  margin-bottom: 0;
}

.center-items{
  display: inline-block;
}
#browser-notice{
  background-color: #FFCACE;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
  font-size: 0.85rem;
  display: none;
  font-weight: 400;
}

#browser-notice ul{
  margin-bottom: 0;
}
#browser-notice a{
  color: #6B0001;
  font-weight: 600;
}

.img-shade{
  text-align:center;
}

@media screen and (max-width: 1200px) {
  .list-items {
    width: 40%;
  }
  .list-title {
    width: 80%;
    text-align:center;
  }
  br 
    { 
       display: none;   
    }
}

@media screen and (max-width: 550px) {
  .list-column {
    width: 100%;
    text-align: center;
  }
  .list-row {
    text-align: center;
    margin-left: 0;
  }

  .list-element{
    margin-left: auto;
    margin-right: auto;
  }
  .list-title{
    padding-left: 0;
  }
}
 @media all and (-ms-high-contrast:none)
 {
 #browser-notice{ /* IE10 */
  background-color: #FFCACE;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
  font-size: 0.85rem;
  display: block;
  font-weight: 400;
 }



 *::-ms-backdrop,  #browser-notice{/* IE11 */
  background-color: #FFCACE;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
  font-size: 0.85rem;
  display: none;
  font-weight: 400;
  } 

  *::-ms-backdrop, .img-shade{
    background-color: rgba(0,46,155,0.5);
    height:  100%;
  }

}
header.nj {
  background-color: #363636;
  color: #fff;
  padding: 4px 0;
  z-index: 1;
  margin-bottom: 0px;
}
header.nj #logo img {
  padding: 0;
  margin: 0 5px 0 0px;
  max-height: 41px;
  display: inline-block;
}
header.nj #logo h1 {
  font-size: 0.75rem;
  margin: 0;
  padding: 0 0 0 0;
  line-height: 1;
  width: auto;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
}

header.nj a {
  color: #fff;
}


header.nj .gov-bar {
  font-size: 0.9375rem;
  font-weight: 500;
}
header.nj .social {
  font-size: 0.875rem;
  font-weight: 300;
}

header.nj ul.statewide {
  margin: 0px;
}
header.nj ul.statewide li {
  border-right: 1px solid #fff;
  font-size: 14px;
  display: inline-block;
  margin: 0;
  padding: 0 6px;
}
header.nj ul.statewide li:last-of-type {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

header.nj .statewide {
  position: relative;
}
header.nj .statewide .drop {
  position: absolute;
  right: 0px;
  /*top: 35px;*/
  background: #363636;
  width: 500px;
  display: none;
  z-index: 10;
}
/*XS only*/

header.nj .statewide .drop button.drop-close {
  color: #999999;
}

header.nj .statewide .drop p.disclaimer {
  float: left;
  clear: left;
  width: 100%;
  text-align: left;
}

header.nj .statewide .drop #google_translate_element {
  float: left;
  clear: left;
  width: 100%;
}
.goog-te-combo.form-control {
  max-height: 2.125rem;
}

.list-section{
  width: 80%;
  margin-left: 15%;
  margin-right:auto;
}

.opra-lice{
  opacity: 1;
  filter: alpha(opacity=100);
}
.opra-lice a:hover{
  opacity: 0.5;
  filter: alpha(opacity=50);
}


/* footer one */




@media only screen and (max-width: 1200px) {
  body header.nj .statewide .drop {
    max-width: 100%;
  }
  #nj-address {
    text-align: center !important;
  }

}


@media only screen and (max-width: 768px) {
  body header.nj .statewide .drop {
    max-width: 100%;
  }
  #beta-notice{
    width: 100%;
  }

}



@media only screen and (max-width: 575px) {
  body header.nj .statewide .drop {
    max-width: 100%;
  }
  #beta-notice{
    width: 100%;
  }


}

/*FOOTER css straight from https://nj.gov/*/


.footer a:link,
.footer a:focus,
.footer a:visited {
  text-decoration: none;
  color: #ffffff !important;
}
.footer a:hover {
  text-decoration: underline;
}
footer.nj {
  background: #363636;
  padding: 15px 0;
  color: #fff;
  font-size: 0.875rem;
}

footer .nj {
  background-color: #333;
  color: #fff;
}

.wrap {
width:100%;
text-align: center;

}

