.sidenav {
  height: 100%;
  width: 400px;
  position: fixed;
  display:none;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.show-nav{
display:block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.change .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar-2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar-3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.hero-row{
  z-index: -10;
}
.col-4p{
  width: 55px;
  float: left;
  height: 100%;
  background-color: rgba(54,54,54,0.4);
  opacity: 1;
  padding-top: 6px;
  display: inline-block;
  cursor: pointer;
}

.col-4p:hover{
  background-color: rgba(54,54,54,0.8);
 
}

.col-48 {
  width: 48%;
  float: left;
  height: 100%;
  background-color: rgba(54,54,54,0.2);
  padding-left: 20px;
}
.c-2{
  padding-left: 300px;
  color: #ffffff;
}
.col-48 p{
  font-weight: 300;
  font-size: 9pt;
  padding-top: 16px;
}
.row-1{
  padding-top: 6px;
}
.row-2{
  margin-top: -16px;
}
.row-1 p{
  padding-top:0;
}
.row-2 p{
  padding-top:0;
}
.state-header{
  height: 50px;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}
.state-header a{
  color: #ffffff;
}

.bar-1, .bar-2, .bar-3 {
  background-color: #0066CC;
  width: 35px;
  height: 5px;
  margin: 6px 10px;
  transition: 0.4s;
}
.hero{
  height: 100%;
  background-color: #0066CC;
  z-index: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  
}
.center-text{
  text-align: center;
}
.all-text{
  padding-top: 150px;
}

.center-text h1{

  color: #ffffff;
  font-weight: 200;
}
.center-text h5{
  color: #ffffff;
  opacity: 0.6;
}
.center-text p{
  color: #ffffff;
  opacity: 0.8;
  font-weight: 100;
}
.custom-button {
  color: #004200;
  background-color: #A5D148;
  border-radius: 0;
  position: absolute;
  padding: 0.75rem 2.25rem;
}
.custom-button:hover{
  color:#004200;
  background-color:#A5D148;
  border: 3px solid #A5D148;
}
.button-section{
  display: flex;
  margin-top: -25px;
  width:100%;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .state-header{
    width: 100%;
    background-color: rgba(54,54,54,0.2);
  }
  .col-4p{
    width: 55px;
  }
  .col-48 {
    display: none;
  }
  .all-text{
    padding-top: 80px;
  }
  .hero{
    height: 100%;
  }
}

