
.m4{
  background-color:  #D7DEF6;
}
.m-4{
  background-color:  #D7DEF6;
}
.module-hero.m4 .center-text h1{
  color:#132049;
  font-weight: 200;
}
.module-hero.m4 .center-text h5{
  color:#132049;
  opacity: 0.6;
}
.module-hero.m4 .center-text p{
  color:#132049;
  opacity: 0.8;
  font-weight: 200;
  padding-bottom: 0px;
}
a{
  color: #9aaef0 !important;
}
.module-hero.m4 .center-text ol{
  color:#132049;
  opacity: 0.8;
  font-weight: 200;
  padding-bottom: 0px;
}
.bar-color-mod3{
  background-color: #132049;
}
.module-4-btn{
  color:#132049;
  background-color:#1e46c9;
}
.module-4-btn:hover{
  color:#132049;
  background-color:#1e46c9;
  border: 3px solid #1e46c9;
}
.prev-btn.m4{
  color:#132049;
  background-color: #1e46c9;
}
.nxt-btn.m4{
  color:#132049;
  background-color:  #1e46c9;
}

.buttons-two.m4:hover{
  text-decoration: none;
  color:#132049;
}
.module-hero.m4 iframe{
  border: 5px solid #132049;
}
.interview-row h3.m4{
  color:#132049;
  background-color: rgba(0,0,0,0);
}
.interview-row .col-2p iframe.m4{
  border: 4px solid #132049;
}
.int-4{
  color:#132049;
  background-color:  #1e46c9;
}
.int-btn:hover{
  color:#132049;
}
.questions.q4{
  border-bottom: 2px solid #132049;
}
.vertical.menu4 a{
  color:#1e46c9;
}

.q4 h3{
  color:#132049;
}
.assessment-row.m4{
  background-color:  #D7DEF6;
}
.options.o4{
  color:#132049;
}
.s4{
  background-color:  #D7DEF6;
  color:#132049;
}
.reading-header.m4{
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 60%;
  background-color:  #D7DEF6;
  color:#132049;
  line-height: 0.7;
}

.video-header.m4{
  padding: 20px;
  height: 60%;
  background-color:  #D7DEF6;
  color:#132049;
  line-height: 0.7;
  width: 100%;
  padding: 25px;
  text-align:center;
}

.video-header.m4 .col-2p{
background-color: rgba(0,0,0,0);
}
.video-header.m4 .col-2p.thumb{
  width: 30%;
}
.video-header.m4 .col-2p.text{
  margin-top: 0px;
  width: 70%;
  text-align: left;
}
.video-header.m4 .col-2p img{
  width: 70%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.annotation.m4 a{
  color:#132049;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color:#132049;
 }

 .quick-menu.menu4 a{
  color:#1e46c9;
}
.quick-menu-6.menu4 a{
  color:#1e46c9;
}

.expert-list.m-4 p .name{
  color:#132049;
  font-size: 18px;
  font-weight: 400;
}

.expert-list.m-4 p .title{
  color:#132049;
  opacity: 0.5;
  font-size: 14px;
  font-weight: 400;
}
.expert-list.m-4{
  background-color: rgba(0,0,0,0);
}
#expert-image.m-4 {
  height: 150px;
  border: 3px solid #132049;
  border-radius: 100px;
}
