.mod-container{
  overflow: hidden;
}
.module-hero{
  background-color: rgba(209,72,77,0.2);
  height: 100%;
  z-index: 0;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
}

.module-hero .center-text h1{
  color: #D1484D;
  font-weight: 200;
}
.module-hero .center-text h5{
  color: #D1484D;
  opacity: 0.6;
}
.module-hero .center-text p{
  color: #D1484D;
  opacity: 0.8;
  font-weight: 200;
  padding-bottom: 40px;
}
.module-hero:after {
  content: "";
  display: table;
  clear: both;
}
.bar-color-mod1{
  background-color: rgba(209,72,77,0.5);
}
.module-hero img{
  width: 70%;
  height: auto;
  border: 5px solid rgba(209,72,77,1);
}
.module-1-btn{
  color: #ffffff;
  background-color: rgba(209,72,77,1);
}
.module-1-btn:hover{
  color:#ffffff;
  background-color:rgba(209,72,77,1);
  border: 3px solid rgba(209,72,77,1);
}
.buttons-row{
  width: 100%;
  padding-top: 25px;
  text-align: center;
  margin-left: 50px;
  
}
.buttons-row:after {
  content: "";
  display: table;
  clear: both;
}

.buttons-two{
  width: 45%;
  float: left;
  height: auto;
  margin-right: 2%;
  font-weight: 600;
}
.prev-btn{
  color: #D1484D;
  background-color: rgba(64,20,22,0.8);
  border-radius: 0;
  padding: 0.75rem 2.25rem;
}
.buttons-two:hover{
  text-decoration: none;
  color:#D1484D;
}
.nxt-btn{

  color: #D1484D;
  background-color: rgba(64,20,22,0.8);
  border-radius: 0;
  padding: 0.75rem 2.25rem;
}

.interview-section{
  margin-top: 25px;
  text-align: center;
  background-color: #222222;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #ffffff;
  font-weight: 200;
}
.interviewee-section{
  margin-bottom: 20px;
  text-align: center;
  background-color: #222222;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  font-weight: 200;
}

.interview-row{
  width: 100%;
  padding: 25px;
  text-align:center;
  height: auto;
}

.interview-row:after {
  content: "";
  display: table;
  clear: both;
}

.interview-row h3{
  text-align: left;
  margin-top: 40px;
  color: #D1484D;
  font-weight: 200;
}
.interview-row p{
  text-align: left;
  font-weight: 200;
}
.interview-row .col-2p {
  background-color: rgba(0,0,0,0);
}
.interview-row .col-2p img{
  float: right;
  margin-right: 60px;
  width: 75%;
  border: 4px solid #D1484D;
}
.right{
  padding-right:200px;
}
.int-btn{
  width: auto;
  color: #ffffff;
  background-color: #D1484D;
  border-radius: 0;
  padding: 0.75rem 2.25rem;
  font-weight: 200;
}
.expert{
  padding-right: 40px;
  padding-left: 40px;
}
.expert p{
  font-weight: 200;
  text-align: center;
}

.reading-item{
  border: 2px solid rgba(64,20,22,0.8);
  height: auto;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  
}
.reading-header.m1{
  padding: 20px;
  height: 60%;
  background-color: rgba(209,72,77,0.2);
  color: rgba(64,20,22,1);
  line-height: 0.7;
}

.reading-annotation{
  padding: 20px;
  font-weight: 300;
}

.reading-annotation.m1 a{
 color: rgba(64,20,22,1);
 font-weight: 400;
 text-decoration: underline;
 text-decoration-color:#D1484D;
}

.last{
  margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .reading-header.m1{
    line-height: 1;
  }
    .module-hero{
      height: 100%;
      padding-left: 5%;
      padding-right: 5%;
    }
    .buttons-two{
      width: 100%;
      margin-bottom: 5%;
    }
    .buttons-row{
      margin-left: 0;
    }
    .module-hero img{
      width: 100%;
      height: auto;
    }
    .right{
      padding-right:0px;
    }
    .interview-row .col-2p img{
      float: none;
      padding-right:0;
      width: 100%;
    }
    .interview-row p{
      text-align: center;
    }
    .interview-row h3{
      text-align: center;
      margin-top: 20px;
    }
    .expert{
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .buttons-row{
      margin-left: 0px;
    }
    .interview-row .col-2p{
      width: 100%;
    }
    .module-hero{
      height: 100%;
      padding-left: 5%;
      padding-right: 5%;
    }
    .buttons-two{
      width: 100%;
      margin-bottom: 5%;
    }
    .buttons-row{
      margin-left: 0;
    }
    .module-hero img{
      width: 100%;
      height: auto;
    }
    .right{
      padding-right:0px;
    }
    .interview-row .col-2p img{
      float: none;
      padding-right:0;
      width: 100%;
    }
    .interview-row p{
      text-align: center;
    }
    .interview-row h3{
      text-align: center;
      margin-top: 20px;
    }
    .expert{
      padding-right: 0px;
      padding-left: 0px;
    }
  }


  @media screen and (max-width: 1200px){
    .interview-row .col-2p img{
      width: 90%;
      margin-right: 30px;
      padding-right:0;
      margin-left: 20px;
    }
    .right{
      padding-right:0px;
    }
  }